<div class="jumbotron">
<h1>E-wypożyczalnia</h1>
  <p>Wypożyczaj filmy przez internet za dolany!</p>
<% if !user_signed_in? %>
      <%= link_to 'Zarejestruj się!', new_user_registration_path, class: "btn btn-primary btn-lg" %>

      <% end %>

</div>